@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #fff;
    outline: none;
}

.slider {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    border: 2px blue solid;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.slide.current {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.slide .content {
    position: inherit;
    top: 500px;
    left: -500px;
    height: auto;
    width: 500px;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 3px;
    padding: 20px;
}

.slide .content h1 {
    margin-bottom: 3px;
}

.slide.current .content {
    opacity: 1;
    transform: translateX(500px);
    transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 20px;
}

.buttons button#next {
    position: absolute;
    top: 50%;
    right: 20px;
}

.buttons button {
    border: 0.1px solid #fff;
    padding: 13px 16px;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    color: #fff;
}

.buttons button:hover {
    background-color: #f2f2f2;
    color: #333;
}

/* Setting background images for all slides */
.slide:first-child {
    background: url('https://source.unsplash.com/RyRpq9SUwAU/1600x900') center top/cover no-repeat;
}

/* url can be inserted within or without inverted quotes*/
.slide:nth-child(2) {
    background: url(https://source.unsplash.com/TMOeGZw9NY4/1600x900) center top/cover no-repeat;
}

.slide:nth-child(3) {
    background: url('https://source.unsplash.com/yXpA_eCbtzI/1600x900') center top/cover no-repeat;
}

.slide:nth-child(4) {
    background: url('https://source.unsplash.com/ULmaQh9Gvbg/1600x900') center top/cover no-repeat;
}

.slide:nth-child(5) {
    background: url('https://source.unsplash.com/ggZuL3BTSJU/1600x900') center top/cover no-repeat;
}

.slide:nth-child(6) {
    background: url('images/img2.jpg') center top/100% 100% no-repeat;
}